$blue : #6666ff;
$green : #00e64d;
body{
  background-image: url(../../img/octocat_darkwood.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .well{
    background-color: rgba( $green, .7 )
  }
}

td{
  font-weight: bold;
}
#title-well{
  margin-top: 20px;
  text-align: center;
  h1{
    margin: 0px;
  }
}
#page-buttons{
  display: none;
}
#data{
  display: none;
}
